.twitter-logo {
    color: #e8e6e3;
    display: inline-block;
    width: 45px ;
    height: 45px ;
}

.navbar-twitter-text {
    color: white !important;
}

.navbar-twitter {
    margin-bottom: 110px;
}