@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    color: white;
    background-color: #111a22;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
}